name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Ballerina Workspace
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.0
        with:
          version: 2201.13.1

      - name: Build sources
        working-directory: workspace
        run: bal build

      - name: Test sources
        working-directory: workspace
        run: bal test
